<div class="container">

  <h1>Create a flat</h1>
  <hr>
  <%= simple_form_for(@flat) do |f| %>
    <%=  f.input :name %>
    <%=  f.input :address %>
    <%=  f.input :description %>
    <%=  f.input :number_of_guests %>
    <%=  f.input :price_per_night %>
    <%=  f.submit class: 'btn btn-primary'%>
    <%= link_to 'Cancel', '#', class: 'btn btn-danger ml-2' %>

  <% end %>
  <hr>

  <%= link_to "< Back to list", flats_path %>

</div>
