<div class="container">

  <h1>All flats</h1>
  <hr>
  <div class="container">
    <div class="row">
      <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300/?random');">
          <div class="card-category">
            <%= flat.price_per_night %> €
          </div>
          <div class="card-description">
            <h2><%= flat.name %></h2>
            <p>
              <%= flat.description %>
            </p>
            <p>Guests : <%= flat.number_of_guests %></p>
          </div>
          <div class="card-link">
          <%= link_to "More info", flat_path(flat) %>
          | <%= link_to "Edit", edit_flat_path(flat), class: "ml-3 text-warning" %>
          | <%= link_to "Remove", flat_path(flat), method: :delete, data: {confirm: "Are you sure?"}, class: "ml-3 text-danger" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
